<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%# Use title if it's in the page YAML frontmatter %>
    <title><%= current_page.data.title || "fizzy" %></title>

    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <%= javascript_include_tag :application %>
</html>
